@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.flashy {
  font-family: Arial, sans-serif;
  padding: 11px 30px;
  border-radius: 10px;
  font-weight: 400;
  position: fixed;
  bottom: 20px;
  right: 15px;
  font-size: 16px;
  color: #fff;
}

.flashy--success {
  background-color: #386c20;
  color: #fff;
}

.flashy--warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.flashy--muted {
  background: #eee;
  color: #3a3a3a;
  border: 1px solid #e2e2e2;
}

.flashy--muted-dark {
  background: #133259;
  color: #e2e1e7;
}

.flashy--info a,
.flashy--primary-dark a {
  color: #fff;
}

.flashy--error {
  background: #9c1919;
  color: #fff;
}

.flashy--primary {
  background: #ec2652;
}

.flashy--primary-dark {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #133259), to(#0d233e));
  background: linear-gradient(to right, #133259 30%, #0d233e);
}

.flashy--info {
  background: #0b6c91;
}

.flashy > ul {
  padding-left: 15px;
}

.flashy > p:only-of-type {
  margin-bottom: 0;
}

.flashy i {
  margin-right: 8px;
  position: relative;
  top: 6px;
}

.flashy .flashy__body {
  color: inherit;
}

@media only screen and (max-width: 1050px) {
  .flashy {
    text-align: center;
    right: 0;
    left: 50%;
    width: 300px;
    margin-left: -150px;
  }
}

#loading {
  display: none;
  position: fixed;
  background-image: url("/loaders/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

#contract-sign-loading {
  display: none;
  position: fixed;
  background-image: url("/loaders/sign-contract.gif");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

/* Container */

.container-login-register-panel {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}

.container-login-register-panel.active .card-login-register-panel:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}

.container-login-register-panel.active .card-login-register-panel:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}

.container-login-register-panel.active .card-login-register-panel.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}

.container-login-register-panel.active .card-login-register-panel.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(14);
  transform: scale(15);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.container-login-register-panel.active .card-login-register-panel.alt .toggle:before {
  content: '';
}

.container-login-register-panel.active .card-login-register-panel.alt .title,
.container-login-register-panel.active .card-login-register-panel.alt .input-container,
.container-login-register-panel.active .card-login-register-panel.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container-login-register-panel.active .card-login-register-panel.alt .title {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.container-login-register-panel.active .card-login-register-panel.alt .input-container {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.container-login-register-panel.active .card-login-register-panel.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.container-login-register-panel.active .card-login-register-panel.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.container-login-register-panel.active .card-login-register-panel.alt .button-container {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}

/* Card */

.card-login-register-panel {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}

.card-login-register-panel .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ec2652;
  margin: 0 0 35px;
  padding: 0 0 0 50px;
  color: #ec2652;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-login-register-panel .input-container {
  position: relative;
  margin: 0 60px 22px;
}

.card-login-register-panel .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 20px;
  font-weight: 400;
}

.card-login-register-panel .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card-login-register-panel .input-container input:focus ~ .bar:before,
.card-login-register-panel .input-container input:focus ~ .bar:after {
  width: 50%;
}

.card-login-register-panel .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}

.card-login-register-panel .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card-login-register-panel .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}

.card-login-register-panel .input-container .bar:before,
.card-login-register-panel .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ec2652;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.card-login-register-panel .input-container .bar:before {
  left: 50%;
}

.card-login-register-panel .input-container .bar:after {
  right: 50%;
}

.card-login-register-panel .button-container {
  margin: 0 40px;
  text-align: center;
}

.card-login-register-panel .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 200px;
  border: 2px solid #e3e3e3;
  padding: 8px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-login-register-panel .button-container .radio {
  position: relative;
  display: inline-block;
  margin: 6px 15px 6px;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-login-register-panel .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-login-register-panel .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ec2652;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-login-register-panel .button-container button:hover,
.card-login-register-panel .button-container button:active,
.card-login-register-panel .button-container button:focus {
  border-color: #ec2652;
}

.card-login-register-panel .button-container button:hover span,
.card-login-register-panel .button-container button:active span,
.card-login-register-panel .button-container button:focus span {
  color: #ec2652;
}

.card-login-register-panel .button-container button:active span,
.card-login-register-panel .button-container button:focus span {
  color: #ffffff;
}

.card-login-register-panel .button-container button:active:before,
.card-login-register-panel .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

.card-login-register-panel .footer {
  margin: 25px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.card-login-register-panel .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.card-login-register-panel .footer a:hover {
  color: #bababa;
}

.card-login-register-panel.alt {
  position: absolute;
  top: 5px;
  right: -60px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: none;
  border-radius: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}

.card-login-register-panel.alt .toggle {
  position: relative;
  background: #ec2652;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 15px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.card-login-register-panel.alt .toggle:before {
  content: 'Register now FOR FREE';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.card-login-register-panel.alt .title,
.card-login-register-panel.alt .input-container,
.card-login-register-panel.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}

.card-login-register-panel.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}

.card-login-register-panel.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}

.card-login-register-panel.alt .title .close:before {
  content: '\D7';
}

.card-login-register-panel.alt .input-container input {
  color: #ffffff;
}

.card-login-register-panel.alt .input-container input:focus ~ label {
  color: #ffffff;
}

.card-login-register-panel.alt .input-container input:focus ~ .bar:before,
.card-login-register-panel.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}

.card-login-register-panel.alt .input-container input:valid ~ label {
  color: #ffffff;
}

.card-login-register-panel.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}

.card-login-register-panel.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}

.card-login-register-panel.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}

.card-login-register-panel.alt .button-container button span {
  color: #ec2652;
}

.card-login-register-panel.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.card-login-register-panel.alt .button-container button:active:before,
.card-login-register-panel.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */

@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

.copy-text {
  font-size: 13px;
  text-align: center;
}

.copy-text i {
  color: #FEB58A;
}

.copy-text a {
  color: #E36262;
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  -webkit-transform: scale(3) rotateZ(-20deg);
          transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  -webkit-transform: scale(1) rotateZ(0deg);
          transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: .5;
}

.checkbox-login {
  margin: 0 60px 50px;
}

.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.radio label input[type="radio"] {
  display: none;
}

.radio label input[type="radio"] + .cr > .cr-icon {
  -webkit-transform: scale(3) rotateZ(-20deg);
          transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.radio label input[type="radio"]:checked + .cr > .cr-icon {
  -webkit-transform: scale(1) rotateZ(0deg);
          transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.radio-register {
  margin: 0 60px 50px;
}

.thumbnail h3 {
  font-size: 22px;
}

.thumbnail-margin {
  margin-bottom: 25px;
}

.tile {
  width: 300px;
  height: 450px;
  margin: 1px;
  background-color: #ec2652;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
          box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: 'Roboto';
}

.tile-contracts {
  width: 270px;
  height: 480px;
  margin: 1px;
  background-color: #ec2652;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
          box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: 'Roboto';
}

.tile-clubs {
  width: 280px;
  height: 400px;
  margin: 1px;
  background-color: #ec2652;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
          box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: 'Roboto';
}

.tile-users {
  width: 300px;
  height: 460px;
  margin: 1px;
  background-color: #ec2652;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
          box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: 'Roboto';
}

.tile-requests-to-join-the-club {
  width: 300px;
  height: 480px;
  margin: 1px;
  background-color: #ec2652;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
          box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
  font-family: 'Roboto';
}

.tile .cover-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.tile .text-header {
  position: relative;
  font-style: italic;
  font-size: 28px;
}

.tile .text-display {
  position: relative;
  font-style: italic;
  font-size: 18px;
}

.tile .info-header {
  position: relative;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.tile .text {
  position: relative;
  padding: 30px;
  height: calc(100% - 60px);
}

.tile .text-contracts {
  position: relative;
  padding: 12px;
}

.tile .text-join-requests {
  position: relative;
  padding: 12px;
}

.tile h1 {
  font-weight: 300;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 4px;
  font-style: italic;
}

.tile-contracts h1 {
  font-weight: 300;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  font-style: italic;
}

.tile h2 {
  font-weight: 100;
  margin: 20px 0 0 0;
  font-style: italic;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.tile-contracts h2 {
  font-weight: 100;
  margin: 10px 0 0 0;
  font-style: italic;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.tile-contracts p {
  font-weight: 300;
  margin: 10px 0 0 0;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.tile-contracts > .text-contracts > h5 {
  margin: 0 0 0 0;
}

.tile-contracts > .text-contracts > h6 {
  margin: 0 0 0 0;
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.tile-clubs > .text-clubs > h5 {
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.tile-clubs > .text-clubs > h6 {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.tile-users > .text-users > h5 {
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.animate-text > input {
  text-align: center;
}

.animate-text {
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.tile:hover,
.chosen {
  -webkit-box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.64);
          box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.64);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 2;
}

.tile:hover .cover-image,
.chosen .cover-image {
  opacity: 0.2;
}

.tile:hover .animate-text,
.chosen .animate-text {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.tile:hover span,
.chosen span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.propose-contract-section {
  display: none;
}

.styled-select {
  height: 28px;
  overflow: hidden;
}

.styled-select select {
  border: none;
  font-size: 14px;
  padding: 5px;
  width: 276px;
}

.rounded {
  border-radius: 20px;
}

.your-club-menu-nav {
  color: black;
}

.your-club-menu-nav:hover {
  color: #ec2652;
}

#your-club-menu-previous {
  display: none;
}

.search-main {
  position: relative;
  width: 300px;
  margin-bottom: 12px;
}

.search-main > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 12px 0 25px;
  background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 7px no-repeat;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-main > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

.lt-ie9 .search-main > .input-group > input {
  line-height: 26px;
}

.margin-filter {
  margin-left: 10px;
}

.margin-sort-options {
  margin-bottom: 8px;
}

.search-filter-text,
.search-filter-number,
.search-filter-select,
.search-sort-option-text,
.direction {
  display: none;
}

#hide-filters,
#hide-sort-options {
  display: none;
}

.search-filter-text {
  position: relative;
  width: 170px;
}

.search-filter-text > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-filter-text > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-text > .input-group > input {
  line-height: 26px;
}

.search-filter-number {
  position: relative;
  width: 130px;
}

.search-filter-number > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-filter-number > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-number > .input-group > input {
  line-height: 26px;
}

.search-filter-select > .input-group > select {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  outline: none;
}

.search-filter-select > .input-group > select:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -moz-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-select > .input-group > select {
  line-height: 26px;
}

.active-sort {
  background-color: #62000f !important;
}

.remove-sort {
  background-color: #000000 !important;
}

#clubs-table,
#clubs-table > td,
th,
#footballers-table,
#footballers-table > td,
th {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar-margin {
  margin-top: 85px;
}

.navbar-color {
  background-color: #ec2652;
}

.jumbotron-main-page {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.table-jumbotron {
  padding: 10px 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle-filter {
  width: 29px;
  height: 29px;
  text-align: center;
  padding: 7px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
  margin-top: 0;
}

.btn-circle-sort {
  height: 25px;
  text-align: center;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  font-weight: bold;
  text-transform: none;
}

#avatar:focus {
  outline: none;
  border: none;
}

.my-color {
  background-color: #ec2652;
}

.my-color-2 {
  background-color: white;
  color: #ec2652 !important;
}

.my-color-3 {
  background-color: #4a9415;
}

.my-color-4 {
  background-color: #bab91c;
}

.pagination-margin-contract {
  margin-top: 20px;
}

.pagination-margin-club {
  margin-top: 0px;
}

.pagination-margin-request-to-join-the-club {
  margin-top: 15px;
}

