// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// My styles

@import "date-time-picker";

@import "flashy";
@import "loaders";

@import "login-register-panel";
@import "login-register-panel-checkbox";
@import "login-register-panel-radio";
@import "login-register-panel-cards";

@import "menu-cards";
@import "menu-clubs";

@import "search";
@import "tabs";
@import "process-steps";

@import "football-positions";

// Variables - settings
$my-color: #ec2652;
$my-color-join: #4a9415;
$my-color-requested-to-join: #bab91c;
$main-background: url("/images/background.jpg") no-repeat center center fixed !default;
$pagination-margin-contract-cards: 20px !default;
$pagination-margin-search-list: 0px !default;
$pagination-margin-request-to-join-the-club-cards: 15px !default;
$pagination-margin-trophy: 10px !default;
$table-in-jumbotron: 10px 10px !default;

body {
  margin:0;
  padding:0;
  background: $main-background;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-margin{
  margin-top: 85px;
}
.navbar-color{
  background-color: $my-color;
}
.jumbotron-main-page{
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.table-jumbotron{
  padding: $table-in-jumbotron;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle-filter {
  width: 29px;
  height: 29px;
  text-align: center;
  padding: 7px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
  margin-top: 0;
}
.btn-circle-sort {
  height: 25px;
  text-align: center;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  font-weight: bold;
  text-transform: none;
}
.btn-circle-position {
  width: 23px;
  height: 23px;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#avatar:focus{
  outline: none;
  border: none;
}
.my-color{
  background-color: $my-color;
}
.my-color-2{
  background-color: white;
  color: $my-color !important;
}
.my-color-3{
  background-color: $my-color-join;
}
.my-color-4{
  background-color: $my-color-requested-to-join;
}
.pagination-margin-contract-cards{
  margin-top: $pagination-margin-contract-cards;
}
.pagination-margin-search-list{
  margin-top: $pagination-margin-search-list;
}
.pagination-margin-request-to-join-the-club-cards{
  margin-top: $pagination-margin-request-to-join-the-club-cards;
}
.pagination-margin-trophy{
  margin-top: $pagination-margin-trophy;
}
.inline-input-label{
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
}
.inline-input-width{
  width: 200px !important;
}