// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// My styles

@import "flashy";
@import "loaders";

@import "login-register-panel";
@import "login-register-panel-checkbox";
@import "login-register-panel-radio";
@import "login-register-panel-cards";

@import "menu-cards";

body {
  margin:0;
  padding:0;
  background:url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-margin{
  margin-top: 85px;
}
.navbar-color{
  background-color: #ec2652;
}
.jumbotron-main-page{
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#avatar:focus{
  outline: none;
  border: none;
}
.my-color{
  background-color: #ec2652;
}
.pagination-margin{
  margin-top: 20px;
}