#loading {
  display: none;
  position: fixed;
  background-image: url('/loaders/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
#contract-sign-loading {
  display: none;
  position: fixed;
  background-image: url('/loaders/sign-contract.gif');
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}