/* Container */
.container-login-register-panel {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container-login-register-panel.active .card-login-register-panel:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container-login-register-panel.active .card-login-register-panel:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container-login-register-panel.active .card-login-register-panel.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container-login-register-panel.active .card-login-register-panel.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(14);
  transform: scale(15);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.container-login-register-panel.active .card-login-register-panel.alt .toggle:before {
  content: '';
}
.container-login-register-panel.active .card-login-register-panel.alt .title,
.container-login-register-panel.active .card-login-register-panel.alt .input-container,
.container-login-register-panel.active .card-login-register-panel.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container-login-register-panel.active .card-login-register-panel.alt .title {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.container-login-register-panel.active .card-login-register-panel.alt .input-container {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.container-login-register-panel.active .card-login-register-panel.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.container-login-register-panel.active .card-login-register-panel.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}
.container-login-register-panel.active .card-login-register-panel.alt .button-container {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}

/* Card */
.card-login-register-panel {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 0 0 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}

.card-login-register-panel .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ec2652;
  margin: 0 0 35px;
  padding: 0 0 0 50px;
  color:#ec2652;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-login-register-panel .input-container {
  position: relative;
  margin: 0 60px 22px;
}

.card-login-register-panel .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 20px;
  font-weight: 400;
}

.card-login-register-panel .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card-login-register-panel .input-container input:focus ~ .bar:before,
.card-login-register-panel .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card-login-register-panel .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card-login-register-panel .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card-login-register-panel .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card-login-register-panel .input-container .bar:before,
.card-login-register-panel .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ec2652;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card-login-register-panel .input-container .bar:before {
  left: 50%;
}
.card-login-register-panel .input-container .bar:after {
  right: 50%;
}
.card-login-register-panel .button-container {
  margin: 0 40px;
  text-align: center;
}
.card-login-register-panel .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 200px;
  border: 2px solid #e3e3e3;
  padding: 8px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-login-register-panel .button-container .radio {
  position: relative;
  display: inline-block;
  margin: 6px 15px 6px;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-login-register-panel .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-login-register-panel .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ec2652;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-login-register-panel .button-container button:hover,
.card-login-register-panel .button-container button:active,
.card-login-register-panel .button-container button:focus {
  border-color: #ec2652;
}
.card-login-register-panel .button-container button:hover span,
.card-login-register-panel .button-container button:active span,
.card-login-register-panel .button-container button:focus span {
  color: #ec2652;
}
.card-login-register-panel .button-container button:active span,
.card-login-register-panel .button-container button:focus span {
  color: #ffffff;
}
.card-login-register-panel .button-container button:active:before,
.card-login-register-panel .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card-login-register-panel .footer {
  margin: 25px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card-login-register-panel .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card-login-register-panel .footer a:hover {
  color: #bababa;
}
.card-login-register-panel.alt {
  position: absolute;
  top: 5px;
  right: -60px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card-login-register-panel.alt .toggle {
  position: relative;
  background: #ec2652;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 15px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
.card-login-register-panel.alt .toggle:before {
  content: 'Register now FOR FREE';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card-login-register-panel.alt .title,
.card-login-register-panel.alt .input-container,
.card-login-register-panel.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card-login-register-panel.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card-login-register-panel.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card-login-register-panel.alt .title .close:before {
  content: '\00d7';
}
.card-login-register-panel.alt .input-container input {
  color: #ffffff;
}
.card-login-register-panel.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card-login-register-panel.alt .input-container input:focus ~ .bar:before,
.card-login-register-panel.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card-login-register-panel.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card-login-register-panel.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card-login-register-panel.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card-login-register-panel.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card-login-register-panel.alt .button-container button span {
  color: #ec2652;
}
.card-login-register-panel.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card-login-register-panel.alt .button-container button:active:before,
.card-login-register-panel.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

.copy-text{font-size:13px; text-align:center;}
.copy-text i{color:#FEB58A;}
.copy-text a{color:#E36262;}