.tile {
  width:300px;
  height:450px;
  margin:1px;
  background-color: #ec2652;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
}

.tile-contracts {
  width:270px;
  height:470px;
  margin:1px;
  background-color: #ec2652;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
}

.tile-clubs {
  width:280px;
  height:400px;
  margin:1px;
  background-color: #ec2652;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
}

.tile-requests-to-join-the-club {
  width:300px;
  height:480px;
  margin:1px;
  background-color: #ec2652;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
}

.tile .cover-image {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}

.tile .text-header {
  position:relative;
  font-style: italic;
  font-size: 28px;
}

.tile .text-display {
  position:relative;
  font-style: italic;
  font-size: 18px;
}

.tile .info-header{
  position:relative;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.tile .text {
  position:relative;
  padding:30px;
  height:calc(100% - 60px);
}

.tile .text-contracts {
  position:relative;
  padding:12px;
}
.tile h1 {
  font-weight:300;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  margin-bottom: 4px;
  font-style: italic;
}

.tile-contracts h1 {
  font-weight:300;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  margin-bottom: 15px;
  font-style: italic;
}

.tile h2 {
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
  transform: translateX(200px);
}

.tile-contracts h2 {
  font-weight:100;
  margin:10px 0 0 0;
  font-style:italic;
  transform: translateX(200px);
}

.tile p {
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile-contracts p {
  font-weight:300;
  margin:10px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile-contracts > .text-contracts > h5 {
  margin:0 0 0 0;
  transform: translateX(200px);
  transition-delay: 0.2s;
}

.tile-contracts > .text-contracts > h6 {
  margin:0 0 0 0;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile-clubs > .text-clubs > h5 {
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile-clubs > .text-clubs > h6 {
  transform: translateX(200px);
  transition-delay: 0.2s;
}

.animate-text > input {
  text-align: center;
}

.animate-text {
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover, .chosen {
  box-shadow: 0 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
  z-index: 2;
}
.tile:hover .cover-image, .chosen .cover-image {
  opacity: 0.2;
}
.tile:hover .animate-text, .chosen .animate-text {
  transform:translateX(0);
  opacity:1;
}
.tile:hover span, .chosen span {
  opacity:1;
  transform:translateY(0px);
}

.propose-contract-section{
  display: none;
}

// Select
.styled-select {
  height: 28px;
  overflow: hidden;
}
.styled-select select {
  border: none;
  font-size: 14px;
  padding: 5px;
  width: 276px;
}
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}