$filter-fields-margin: 10px !default;
$sort-fields-margin-bottom: 8px !default;
$search-main-margin-bottom: 12px !default;
$sort-option-active: #62000f !default;
$remove-sort-option: #000000 !default;

.search-main {
  position: relative;
  width: 300px;
  margin-bottom: $search-main-margin-bottom;
}

.search-main > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 12px 0 25px;
  background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 7px no-repeat;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-main > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -moz-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

.lt-ie9 .search-main > .input-group > input { line-height: 26px }

// Filters and sort options

.margin-filter{
  margin-left: $filter-fields-margin;
}
.margin-sort-options{
  margin-bottom: $sort-fields-margin-bottom;
}

.search-filter-text, .search-filter-number, .search-filter-select, .search-filter-date-picker,
.search-sort-option-text, .direction{
  display: none;
}
#hide-filters, #hide-sort-options{
  display: none;
}

.search-filter-text {
  position: relative;
  width: 170px;
}

.search-filter-text > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-filter-text > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -moz-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-text > .input-group > input { line-height: 26px }

.search-filter-number {
  position: relative;
  width: 130px;
}

.search-filter-number > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-filter-number > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -moz-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-number > .input-group > input { line-height: 26px }

.search-filter-select > .input-group > select {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  outline: none;
}

.search-filter-select > .input-group > select:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -moz-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-select > .input-group > select { line-height: 26px }

.search-filter-date-picker {
  position: relative;
  width: 110px;
}

.search-filter-date-picker > .input-group > input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ec2652;
  height: 30px;
  padding: 0 0 0 10px;
  background: white;
  border: 2px solid #d3d3d3;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search-filter-date-picker > .input-group > input:focus {
  border-color: #ec2652;
  -webkit-box-shadow: 0 0 2px #ec2652;
  -moz-box-shadow: 0 0 2px #ec2652;
  -ms-box-shadow: 0 0 2px #ec2652;
  -o-box-shadow: 0 0 2px #ec2652;
  box-shadow: 0 0 2px #ec2652;
}

.lt-ie9 .search-filter-date-picker > .input-group > input { line-height: 26px }

.active-sort{
  background-color: $sort-option-active !important;
}

.remove-sort{
  background-color: $remove-sort-option !important;
}

#clubs-table, #clubs-table > td,th, #footballers-table, #footballers-table > td,th,
#tournaments-table, #tournaments-table > td,th {
  text-align: center;
}
